absl-py @ file:///C:/ci/absl-py_1603893176799/work
alabaster==0.7.12
altair==4.1.0
anaconda-client==1.7.2
anaconda-navigator==1.9.12
anaconda-project==0.8.3
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
argh==0.26.2
asgi-redis==1.4.3
asgiref==3.4.1
asn1crypto==1.2.0
astor==0.8.1
astroid==2.4.2
astropy==3.2.3
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==19.3.0
audioread @ file:///D:/bld/audioread_1602424660206/work
autobahn==21.3.1
Automat==20.2.0
autopep8==1.4.4
awesome-slugify==1.6.5
Babel==2.7.0
backcall==0.1.0
backports.functools-lru-cache==1.6.1
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
base58==2.1.0
bcrypt==3.1.7
beautifulsoup4==4.8.1
bitarray==1.1.0
bkcharts==0.2
bleach==3.1.0
blinker==1.4
bokeh==1.4.0
boto==2.49.0
Bottleneck==1.3.1
cachetools==4.1.1
cairocffi==1.2.0
CairoSVG==2.5.2
certifi==2020.11.8
cffi==1.13.2
channels==3.0.3
chardet==3.0.4
Click==7.0
cloudpickle==1.2.2
clyent==1.2.2
colorama==0.4.1
comtypes==1.1.7
conda==4.10.1
conda-build==3.18.8
conda-package-handling==1.6.0
conda-verify==3.4.2
constantly==15.1.0
contextlib2==0.6.0.post1
cryptography==3.4.7
cssselect2==0.4.1
cycler==0.10.0
Cython==0.29.14
cytoolz==0.10.1
daphne==3.0.2
dask==2.9.0
decorator==4.4.1
defusedxml==0.6.0
diff-match-patch==20181111
distributed==2.9.0
Django==3.2.5
django-block-ip==0.2.0
django-elasticsearch-dsl==7.2.0
django-extensions==3.1.3
django-filter==2.4.0
django-haystack==3.0
django-import-export @ file:///home/conda/feedstock_root/build_artifacts/django-import-export_1609428131070/work
django-versatileimagefield==2.1
djangorestframework @ file:///home/conda/feedstock_root/build_artifacts/djangorestframework_1609945773755/work
djongo==1.3.4
docutils==0.15.2
drf-flex-fields==0.9.0
elasticsearch==7.13.1
elasticsearch-dsl==7.3.0
entrypoints==0.3
et-xmlfile==1.0.1
facepy==1.0.12
fake-useragent==0.1.11
fastcache==1.1.0
filelock==3.0.12
flake8==3.7.9
Flask==1.1.1
fleep==1.0.1
fontawesomefree==5.15.3
fsspec==0.6.0
future==0.18.2
gast @ file:///tmp/build/80754af9/gast_1597433534803/work
gevent==1.4.0
gitdb==4.0.7
GitPython==3.1.17
glob2==0.7
google-api-core==1.23.0
google-api-python-client==1.12.5
google-auth==1.23.0
google-auth-httplib2==0.0.4
googleapis-common-protos==1.52.0
greenlet==0.4.15
grpcio @ file:///C:/ci/grpcio_1597406403308/work
gunicorn==20.1.0
h5py==2.9.0
HeapDict==1.0.1
htbuilder==0.5.0
html5lib==1.0.1
httplib2==0.18.1
hyperlink==21.0.0
idna==2.10
imageio==2.6.1
imagesize==1.1.0
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1602276842396/work
incremental==21.3.0
intervaltree==3.0.2
ipcalc==1.99.0
ipykernel==5.1.3
ipython==7.10.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==5.6.4
iteration-utilities==0.11.0
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.14.1
Jinja2==2.10.3
joblib==0.14.0
json5==0.8.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.1
jupyterlab==1.2.3
jupyterlab-server==1.0.6
Keras==2.3.1
Keras-Applications @ file:///tmp/build/80754af9/keras-applications_1594366238411/work
Keras-Preprocessing==1.1.0
keyring==19.2.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
libarchive-c==2.8
librosa @ file:///home/conda/feedstock_root/build_artifacts/librosa_1595413403988/work
llvmlite==0.30.0
locket==0.2.0
logger==1.4
lxml==4.4.1
Markdown @ file:///C:/ci/markdown_1605111187600/work
MarkupPy==1.14
MarkupSafe==1.1.1
matplotlib @ file:///D:/bld/matplotlib-base_1594091882257/work
mccabe==0.6.1
menuinst==1.4.16
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
mock==3.0.5
more-itertools==7.2.0
mpmath==1.1.0
msedge-selenium-tools==3.141.3
msgpack==0.6.1
msgpack-python==0.5.6
multipledispatch==0.6.0
navigator-updater==0.2.1
nbconvert==5.6.1
nbformat==4.4.0
networkx==2.4
nltk==3.4.5
nose==1.3.7
notebook==6.0.2
numba==0.46.0
numexpr==2.7.0
numpy==1.19.4
numpydoc==0.9.1
oauthlib==3.1.1
odfpy==1.4.1
olefile==0.46
opencv-python==4.5.2.54
openpyxl==3.0.2
packaging==19.2
pandas==1.1.4
pandocfilters==1.4.2
paramiko==2.6.0
parso==0.5.2
partd==1.1.0
path.py==12.0.2
pathlib2==2.3.5
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.2.1
pkginfo==1.5.0.1
pluggy==0.13.1
ply==3.11
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1606467285986/work
prometheus-client==0.7.1
prompt-toolkit==2.0.9
protobuf==3.13.0
psutil @ file:///C:/ci/psutil_1598352273540/work
py==1.8.0
pyarrow==4.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.20
pycrypto==2.6.1
pycryptodome @ file:///D:/bld/pycryptodome_1612879910737/work
pycryptodomex @ file:///D:/bld/pycryptodomex_1612963640781/work
pycurl==7.43.0.3
pydeck==0.6.2
pydocstyle==4.0.1
pydub==0.25.1
pyflakes==2.1.1
Pygments==2.5.2
PyJWT==2.1.0
pylint==2.6.0
pymongo==3.11.4
Pympler==0.7
PyNaCl==1.3.0
pyodbc==4.0.27
pyOpenSSL==19.1.0
pyparsing==2.4.5
Pyphen==0.10.0
PyQt5==5.12
PyQt5-sip==4.19.19
PyQtWebEngine==5.12
pyreadline==2.1
pyrsistent==0.15.6
PySocks==1.7.1
pytest==5.3.1
pytest-arraydiff==0.3
pytest-astropy==0.6.0
pytest-astropy-header==0.1.1
pytest-doctestplus==0.5.0
pytest-openfiles==0.4.0
pytest-remotedata==0.3.2
python-dateutil==2.8.1
python-jsonrpc-server==0.3.2
python-language-server==0.31.2
python-magic==0.4.24
python-magic-bin==0.4.14
python-social-auth==0.3.6
python3-openid==3.2.0
pytz==2020.4
PyWavelets==1.1.1
pywin32==223
pywin32-ctypes==0.2.0
pywinpty==0.5.5
PyYAML==5.1.2
pyzmq==18.1.0
QDarkStyle==2.7
QtAwesome==0.6.0
qtconsole==4.6.0
QtPy==1.9.0
redis==2.10.6
regex==2021.4.4
requests==2.24.0
requests-oauthlib==1.3.0
resampy==0.2.2
rope==0.14.0
rsa==4.6
Rtree==0.8.3
ruamel-yaml==0.15.46
scikit-image==0.15.0
scikit-learn==0.21.3
scipy==1.3.1
seaborn==0.9.0
selenium==3.141.0
Send2Trash==1.5.0
service-identity==21.1.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.15.0
smmap==4.0.0
snowballstemmer==2.0.0
social-auth-app-django==4.0.0
social-auth-core==4.1.0
sortedcollections==1.1.2
sortedcontainers==2.1.0
SoundFile @ file:///home/conda/feedstock_root/build_artifacts/pysoundfile_1607011569782/work
soupsieve==1.9.5
Sphinx==2.2.2
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.1.2
spyder==4.0.0
spyder-kernels==1.8.1
SQLAlchemy==1.3.5
sqlparse==0.2.4
statsmodels==0.10.1
streamlit==0.82.0
sympy==1.4
tables==3.6.1
tablib @ file:///home/conda/feedstock_root/build_artifacts/tablib_1607186280501/work
tabulate @ file:///home/conda/feedstock_root/build_artifacts/tabulate_1614001031686/work
tblib==1.5.0
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
tinycss2==1.1.0
toml==0.10.2
toolz==0.10.0
tornado==6.0.3
tqdm==4.40.0
traitlets==4.3.3
twilio==6.58.0
Twisted==21.2.0
twisted-iocpsupport==1.0.1
txaio==21.2.1
typed-ast==1.4.1
typing-extensions==3.10.0.0
tzlocal==2.1
ujson==1.35
unicodecsv==0.14.1
Unidecode==0.4.21
uritemplate==3.0.1
urllib3==1.25.11
validators @ file:///tmp/build/80754af9/validators_1605213922083/work
watchdog==0.9.0
wcwidth==0.1.7
WeasyPrint==52.4
webencodings==0.5.1
Werkzeug==0.16.0
whitenoise==5.3.0
Whoosh==2.7.4
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.12.1
xlrd==1.2.0
XlsxWriter==1.2.6
xlwings==0.16.1
xlwt==1.3.0
xmltodict==0.12.0
yapf==0.28.0
zict==1.0.0
zipp==0.6.0
zope.interface==5.4.0
